<!---<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <hr>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>
    </div>
  </div>
</footer>--->

<!----<div class="footer>---->
  <footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <!---<hr>--->
    <div class="wrapper">

        <div class="footer-col footer-col-1">
          <p class="view"><a href="{{ site.github.owner_url }}">Plasma Physics</a> group at <a href="https://itpcp.tugraz.at/">ITPcp</a>, <a href="https://tugraz.at/">TU Graz</a>. We are part of <a href="https://euro-fusion.org/">EUROfusion</a> via <a href="https://www.oeaw.ac.at/en/fusionoeaw/fusionoaw">Fusion@ÖAW</a>. Website sources on <a href="https://github.com/itpplasma/itpplasma.github.io">Github-Pages</a>. <a href="https://www.tugraz.at/en/about-this-page/legal-notice/">Legal Notice</a></p>
        </div>
      </div>

    </div>
  </footer>

<!----</div>---->
