<!----<div class="footer>---->
  <footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <!---<hr>--->
    <div class="wrapper">

      <h4 class="footer-heading">{{ site.title | escape }}</h4>
        <div class="footer-col footer-col-1">
          {%- include social.html -%}
        </div>

        <div class="footer-col footer-col-1">
          <p>{{- site.description | escape -}}</p>
          <p class="view"><a href="{{ site.github.owner_url }}">View ITPCP on GitHub</a></p>
          <p>We are part of <a href="https://euro-fusion.org/">Eurofusion</a> and <a href="https://www.oeaw.ac.at/en/fusionoeaw/fusionoaw">Fusion@ÖAW</a></p>
          </br>
          <p>If you would like to contribute to this page, please do so at <a href="https://github.com/itpplasma/itpplasma.github.io">our Github-Pages</a></p>
        </div>
      </div>

    </div>
  </footer>
                               
<!----</div>---->                                                               
