<div class="wrapper">
      <header>
        
        <!--{% if site.logo %}
          <a href:"https://www.tugraz.at/institute/itpcp/home/"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
        {% endif %}-->
        <span style="float:right;">
          <a href="http://www.TUGraz.at/"><img src="https://itp.tugraz.at/icon/logo-tu.png" alt="[TU Graz]" border="0"></a>
        </span>
        
        <a href="https://www.tugraz.at/institute/itpcp/home/"><img src="https://itp.tugraz.at/icon/logo-itp.png"></a>

        <br />
        
        <span style="float:center;">
          <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        </span>  
</div>
