
<nav class="navbar  navbar-expand-lg navbar-darkblue-50 border-bottom">
    <!---Des darkblue kennt er net--->
<!---<nav class="navbar  navbar-expand-lg navbar-dark bg-light">-->
    <div class="container px-5">
    <!---<div class="container fluid">--->
        <a class="navbar-brand" href="/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button><ul class="nav justify-content-end">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!---<li class="nav-item px-3 pr-5"><a class="nav-link" href="{% link index.md %}">Home</a></li>--->
                <li class="nav-item px-3 pr-5"><a class="nav-link" href="{% link team.md %}">Team</a></li>

                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Research
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="research.md">Research Topics</a>
                        <a class="dropdown-item" href="publications.md">Publications</a>
                        <a class="dropdown-item" href="news">News</a>

                    </ul>
                </li>


                <li class="nav-item px-3"><a class="nav-link" href="#">Publications Again</a></li>
            </ul>
            <!-- Uncomment to Enable searchbar -->
            <!-- <form class="d-flex"> -->
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <!-- <button class="btn btn-outline-primary" type="submit">Search</button> -->
            <!-- </form> -->
        </div>
    </div>
</nav>
