
<nav class="navbar  navbar-expand-xl navbar-blue-50 border">
<!---<nav class="navbar  navbar-expand-lg navbar-dark bg-dark">-->
    <!---<div class="container px-5">--->
    <div class="container fluid">
        <!---<img src="paris.jpg" class="float-start">-->
        <!---<span style="float:right;">
          <a href="http://www.TUGraz.at/"><img src="https://itp.tugraz.at/icon/logo-tu.png" alt="[TU Graz]" border="0"></a>
        </span>--->
        <!---<span style="float:left;">
            <a href="https://www.tugraz.at/institute/itpcp/home/"><img src="https://itp.tugraz.at/icon/logo-itp.png"></a>
        </span>--->
        
        <a class="nvbar-brand" href="https://www.tugraz.at/institute/itpcp/home/">
            <img src="https://itp.tugraz.at/icon/logo-itp.png">
        </a>
        
        <!---<a class="navbar-brand" href="#">
            <img src="logo.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill"> 
        </a>--->
        
        <a class="navbar-brand" href="/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-3 pr-5"><a class="nav-link" href="{% link index.html %}">Home</a></li>
                <!---<li class="nav-item px-3 pr-5"><a class="nav-link" href="{% link pages/home.md %}">Home</a></li>--->

                <li class="nav-item dropdown px-3">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Item 1</a>
                        <a class="dropdown-item" href="#">Item 2</a>
                        <a class="dropdown-item" href="#">Item 3</a>

                    </ul>
                </li>


                <li class="nav-item px-3"><a class="nav-link" href="{% link pages/about.md %}">About</a></li>
            </ul>
            <!-- Uncomment to Enable searchbar -->
            <!-- <form class="d-flex"> -->
            <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
            <!-- <button class="btn btn-outline-primary" type="submit">Search</button> -->
            <!-- </form> -->
        </div>
        <ul class="nav justify-content-end">
            <!---<div class="clearfix"><ul class="nav justify-content-end">
                <span class="float-end"><a href="http://www.TUGraz.at/"><img src="https://itp.tugraz.at/icon/logo-tu.png" alt="[TU Graz]" border="0"></a></span>
            </div>--->
            <a href="http://www.TUGraz.at/"><img src="https://itp.tugraz.at/icon/logo-tu.png" alt="[TU Graz]" border="0"></a>
        </ul>
        <!---<span style="float:end;">
          <a href="http://www.TUGraz.at/"><img src="https://itp.tugraz.at/icon/logo-tu.png" alt="[TU Graz]" border="0"></a>
        </span>--->
    </div>
</nav>
